@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .app {
    @apply flex flex-row
    bg-gradient-to-r from-green-400 via-purple-500 to-pink-400 
    h-screen w-screen;
  }

  .sidebar {
    @apply flex flex-col items-start justify-center 
    fixed top-0 left-0 
    h-screen w-16 m-0 shadow-lg;
  }

  .sidebar-icon {
    @apply flex items-center justify-center 
    h-12 w-12 
    bg-gray-800 text-black
    rounded-full shadow-lg 
    mt-2 mb-2 mx-auto 
    hover:shadow-sm hover:bg-channelBgDark 
    transition duration-300 ease-in-out 
    cursor-pointer;
  }

  .sidebar-hr {
    @apply bg-gray-800 
    border border-gray-800 rounded-full 
    mx-2;
  }

  .top-navigation {
    @apply flex flex-row items-center justify-evenly 
    bg-navbarDark bg-opacity-90 
    w-full h-16 
    m-0 
    shadow-lg;
  }

  .title-hashtag {
    @apply text-lg tracking-wider font-semibold text-gray-500 
    ml-2 my-auto;
  }

  .title-text {
    @apply text-xl text-accent tracking-wider font-semibold text-opacity-80 
    mr-auto ml-2 my-auto 
    transition duration-300 ease-in-out;
  }

  .search {
    @apply w-1/5 flex items-center justify-start 
    bg-bottomBar 
    px-2 h-9 ml-0 mr-0 
    rounded-md shadow-xl
    transition duration-300 ease-in-out;
  }

  .search-input {
    @apply text-lg w-full font-sans 
    bg-transparent outline-none 
    text-secondary placeholder-gray-600
    pl-1 rounded;
  }

  .content-container {
    @apply flex flex-col 
    bg-contentDark 
    m-0 
    h-full w-full 
    overflow-hidden;
  }

  .content-list {
    @apply flex flex-col items-center 
    h-full w-full 
    mt-0 ml-0 mx-auto px-6 pb-12 
    overflow-y-scroll;
  }

  .post {
    @apply flex flex-row items-center justify-evenly
    p-2 mx-0 my-2
    w-full;
  }

  .post-content {
    @apply w-4/5 flex flex-col justify-start 
    ml-2 mr-auto;
  }

  .post-text {
    @apply text-lg text-left text-secondary mr-auto whitespace-normal;
  }

  .post-owner {
    @apply text-left font-semibold text-primary mr-2 cursor-pointer;
  }

  .avatar-wrapper {
    @apply flex flex-col items-center
    w-12 
    m-0 mb-auto;
  }

  .avatar {
    @apply flex-none
    w-12 h-full 
    rounded-full shadow-lg
    object-cover bg-gray-100 
    mb-auto mt-0 mx-0 
    cursor-pointer;
  }

  .timestamp {
    @apply text-xs text-left font-semibold text-gray-600 ml-2;
  }

  .bottom-bar {
    @apply flex flex-row items-center justify-between 
    fixed left-96 right-16 bottom-2 
    rounded-lg shadow-lg 
    bg-bottomBar px-2
    h-12;
  }

  .bottom-bar-input {
    @apply mr-auto
    w-full 
    bg-transparent outline-none 
    ml-0 
    text-gray-400 text-lg placeholder-gray-500
    cursor-pointer;
  }

  .channel-bar {
    @apply bg-channelBgDark 
    w-80 h-auto 
    border-l border-gray-800 shadow
    m-0 ml-16 overflow-hidden;
  }

  .channel-container {
    @apply flex flex-col items-center justify-start 
    p-1 m-0;
  }

  .channel-block {
    @apply flex items-center justify-center 
    h-16 
    m-0 p-0;
  }

  .channel-block-text {
    @apply text-lg tracking-wider font-semibold 
    text-gray-400 
    mr-auto ml-4 my-auto align-middle;
  }

  .dropdown {
    @apply m-0 w-full px-2 pb-2;
  }

  .dropdown-header {
    @apply flex flex-row items-center justify-evenly mx-0;
  }

  .dropdown-header-text {
    @apply text-accent text-opacity-90 font-semibold;
  }

  .dropdown-selection {
    @apply flex flex-row items-center justify-evenly
    mt-1 mr-auto ml-2 
    cursor-pointer;
  }

  .dropdown-selected-badge {
    @apply flex flex-row items-center 
    bg-gray-800 
    rounded-full shadow-lg
    pl-1 pr-2 mr-auto;
  }

  .dropdown-selection-text {
    @apply text-secondary text-lg font-semibold tracking-wide
    mr-auto 
    transition duration-300 ease-in-out 
    hover:text-accent cursor-pointer;
  }
}

@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
  box-shadow: 0px 0px 10px #131313aa;
}

::-webkit-scrollbar-thumb {
  background-color: #51e1ac;
  border-radius: 12px;
}
